body {
    margin: 0;
    padding: 0;
    background: black;
    width: 100%;
    height: 100%;
}

#room {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 900px;
    background-image: url("../../images/room.png");
}

#room > * {
    margin: 0;
    padding: 0;
    position: absolute;
    cursor: pointer
}

#door {
    top: 454px;
    left: 378px;
    
}


#view {
    top: 240px;
    left: 463px;
}

#view > * {
    cursor: default;
    position: absolute;
    visibility: hidden;
}

#x {
    left: 464px;
    top: 15px;
    cursor: pointer;
    z-index: 9000;
}

#key {
    top: 585px;
    left: 765px;
    transform: rotate(-10deg) scale(0.3);
    visibility: hidden;
}

#nota {
    top: 285px;
    left: 765px;
    transform: rotate(-10deg) scale(0.3);
}


#cofre {
    top: 564px;
    left: 778px;
}

p {
    color: black;
}

h1 {
    font-weight: bold;
}

#eye1 {
    position: absolute;
    left: 65px;
    top: 1025px;
    cursor: pointer;
    visibility: hidden;
}

#eye2 {
    position: absolute;
    left: 213px;
    top: 1025px;
    cursor: pointer;
    visibility: hidden;
}

#eye3 {
    position: absolute;
    left: 362px;
    top: 1025px;
    cursor: pointer;
    visibility: hidden;
}

#eye4 {
    position: absolute;
    left: 511px;
    top: 1025px;
    cursor: pointer;
    visibility: hidden;
}

#eye5 {
    position: absolute;
    left: 660px;
    top: 1025px;
    cursor: pointer;
    visibility: hidden;
}

#eye6 {
    position: absolute;
    left: 805px;
    top: 1025px;
    cursor: pointer;
    visibility: hidden;
}

#eye7 {
    position: absolute;
    left: 952px;
    top: 1025px;
    cursor: pointer;
    visibility: hidden;
}

#eye8 {
    position: absolute;
    left: 1100px;
    top: 1025px;
    cursor: pointer;
    visibility: hidden;
}

#eye9 {
    position: absolute;
    left: 1250px;
    top: 1025px;
    cursor: pointer;
    visibility: hidden;
}
